* {
  /* testing boxes */
  border: 1px;
  border-color: green;
  border-style: solid;
  /* height & width now includes border & padding */
  box-sizing: border-box;
}

.page-dimensions {
  max-width: 900px;
}

.headline {
  width: 80vh;
  text-align: center;
}

.sect {
  padding-top: 10px;
  padding-bottom: 10px;
  /* height: 100vh; */
  /* height causes issues with formating. might need to do a custom height for certain sections.
  also look into using @media in order to adjust layout */
}

.spacer {
  border: 1px;
  border-color: blue;
  border-style: solid;
  height: 50px;
}

/* css for each section */
.front-page-banner {
  padding: 0 2rem 0 2rem;
  height: 100vh;
}

.about-me-sect {
  height: 90vh;
}

.credentials-sect-intro {
  width: 80vh;
}

.skill-box {
  border: 1px;
  border-color: red;
  border-style: solid;
  margin-top: 2%;
}

.showcase-columns {
  margin: 15px 10px;
}

.social-media-sect {
  height: 40vh;
}

.foot-stamp {
  padding: 0 2rem 0 2rem;
  height: 30vh;
}
